{% extends 'base.html' %}
{% load crispy_forms_tags %} 

{% block content %}
    {% load static %}
    <div class="container">
        <center>
            <h3>{{ object.release_year }}</h3>
            <h1>{{ object.title }}</h1>
            <img  style="height:20em" src="{% static object.cover_path %}"/> <br> <br>
            {% for s in object.stars %}
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
              </svg>
            {% endfor %}
        </center>
        <br>
        <div class="card">
          <center>
            <div class="card-header">
                <h4>INFOs</h4>
            </div>
            <div class="card-body">
                <h5>Genres</h5>
                {% for g in  object.genre.all %}
                    <button class="btn btn-info">{{g.name}}</button>
                {% endfor %}
                <h5>Trama</h5>
                {{object.plot}}
                <h5>Directors</h5>
                {% for d in  object.directors.all %}
                    <button class="btn btn-info">{{d.name_surname}}</button>
                {% endfor %}
                <h5>Cast</h5>
                {% for a in  object.cast.all %}
                    <button class="btn btn-info">{{a.name_surname}}</button>
                {% endfor %}
            </div>
          </center> 
        </div>
        <br>
        {% if user.is_authenticated %}
          <center><h2>Reviews</h2></center>
          <form method="POST" action="{% url 'users:new_review' %}">
            {% csrf_token %}
            <input name="movie-pk" id="movie-pk" type="hidden" value="{{object.pk}}"/>
            {{form | crispy}}
            <button class="btn btn-success" type='submit'>Invia recensione</button>
          </form>
          {% for r in  object.reviews.all%}
          <div class="media border p-2">
            <img src="{% static r.owner.profile_img_path %}" alt="{{r.owner.user.username}}" class="mr-3 mt-3 rounded-circle" style="width:60px;">
            <div class="media-body">
              <span>
                {% for s in r.stars %}
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                      <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                  </svg>
                {% endfor %}
              </span>
              <h4>{{r.owner.user.username}} <small><i>{{r.date}}</i></small></h4>
              <p>{{r.body}}</p>
              <span>
                <span id="like-{{r.pk}}">{{r.count_likes}}</span> 
                <button class="btn btn-info" onclick="like({{r.pk}})">
                  {% if user.profile in r.likes.all %}
                    <img id="like-button-{{r.pk}}" src="{% static 'icons/thumbs-fill.svg'%}">
                  {% else %}
                    <img id="like-button-{{r.pk}}" src="{% static 'icons/thumbs.svg'%}">
                  {% endif %}
                </button>
              </span>
              {% for c in  r.comments.all %}
                <div class="media p-3">
                  <img src="{% static c.owner.profile_img_path %}" alt="{{c.owner.user.username}}" class="mr-3 mt-3 rounded-circle" style="width:45px;">
                  <div class="media-body">
                    <h4>{{c.owner.user.username}} <small><i>{{c.date}}</i></small></h4>
                    <p>{{c.body}}</p>
                  </div>
                </div>  
              {% endfor %}
            </div>
          </div><br>
          {% endfor %}
        {% endif %}
    </div>
    <script>
      function like(pk) {
        const xhttp = new XMLHttpRequest();
        xhttp.onload = function() {
          let likeSpan = document.getElementById("like-" + pk)
          let oldValue = parseInt(likeSpan.innerHTML)
          let likeButton = document.getElementById("like-button-" + pk)
          let response = this.responseText;
          let msg = response.split(",")[0]
          let likeNum = response.split(",")[1]
          if (msg == 'like') {
            likeButton.src = "{% static 'icons/thumbs-fill.svg'%}";
          }else{
            likeButton.src = "{% static 'icons/thumbs.svg'%}";
          }
          likeSpan.innerHTML = likeNum
        }
        xhttp.open("GET", "/users/like/?reviewpk=" + pk);
        xhttp.send();
      }
    </script>
{% endblock content %}