{% extends 'base.html' %}
{% load crispy_forms_tags %} 

{% block header %}
<script>

  function setDate() {
    dateInput = document.getElementById("watchdate");
    dateInput.valueAsDate = new Date();
  }
</script>
{% endblock header %}

{% block onload %}
  setDate()
{% endblock onload %}

{% block content %}
    {% load static %}
    <div class="container">
        <center>
            {% if 'addwatch' in request.GET%}
                {% if request.GET.addwatch == 'ok' %}
                  <div class="alert alert-success alert-dismissible fade show">
                      <button type="button" class="close" data-dismiss="alert">&times;</button>
                      Visione aggiunta con successo!!
                  </div>
                {% else %}
                  <div class="alert alert-danger alert-dismissible fade show">
                      <button type="button" class="close" data-dismiss="alert">&times;</button>
                      Errore aggiunta visione
                  </div>
                {% endif %}
            {% endif %}
            <h3>{{ object.release_year }}</h3>
            <h1>{{ object.title }}</h1>
            <p class="text-muted">Durata: {{object.duration}} min</p>
            <img  style="height:20em" src="{% static object.cover_path %}"/> <br> <br>
            {% for s in object.stars %}
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
              </svg>
            {% endfor %}
            {% if user.is_authenticated %}
              <br>
              <button id="wl-button" class="btn btn-info m-3" onclick="addToWatchlist()">
                  {% if is_in_user_watchlist %}
                    Rimuovi dalla watchlist
                  {% else %}
                    Aggiungi alla watchlist
                  {% endif %}
              </button>
              <p>{{object.count_views}} 👁</p>
              <form method="POST" action="{% url 'users:addwatch' %}">
                {% csrf_token %}
                <input name="movie-pk" id="movie-pk" type="hidden" value="{{object.pk}}"/>
                <label to="watchdate" value="">Data visione</label>
                <input name="watchdate" id="watchdate" type="date"/>
                <button type="submit" class="btn btn-info">Aggiungi visione</button>
              </form>
            {% endif %}
        </center>
        <br>
        <div class="card">
          <center>
            <div class="card-header">
                <h4>INFOs</h4>
            </div>
            <div class="card-body">
                <h5>Genres</h5>
                {% for g in  object.genre.all %}
                    <a class="btn btn-info" href="{% url 'movies:searchmovie'%}?genre={{g.pk}}">{{g.name}}</a>
                {% endfor %}
                <h5>Trama</h5>
                {{object.plot}}
                <h5>Directors</h5>
                {% for d in  object.directors.all %}
                    <a class="btn btn-info" href="{% url 'movies:searchmovie'%}?director={{d.pk}}" >{{d.name_surname}}</a>
                {% endfor %}
                <h5>Cast</h5>
                {% for a in  object.cast.all %}
                <a class="btn btn-info" href="{% url 'movies:searchmovie'%}?actor={{a.pk}}" >{{a.name_surname}}</a>
                {% endfor %}
            </div>
          </center> 
        </div>
        <br>
        {% if user.is_authenticated %}
          <center><h2>Reviews</h2></center>
          {% if user.profile in object.users_that_reviewed %}
            <form id="review-form" method="POST" action="{% url 'users:new_review' %}" hidden>
              {% csrf_token %}
              <input name="movie-pk" id="movie-pk" type="hidden" value="{{object.pk}}"/>
              {{form | crispy}}
              <button class="btn btn-success" type='submit'>Invia recensione</button>
            </form>
          {% else %}
            <form id="review-form" method="POST" action="{% url 'users:new_review' %}">
              {% csrf_token %}
              <input name="movie-pk" id="movie-pk" type="hidden" value="{{object.pk}}"/>
              {{form | crispy}}
              <button class="btn btn-success" type='submit'>Invia recensione</button>
            </form>
          {% endif %}
          
          {% for r in  reviews%}
          <div class="media border p-2">
            <img src="{% static r.owner.profile_img_path %}" alt="{{r.owner.user.username}}" class="mr-3 mt-3 rounded-circle" style="width:60px;">
            <div class="media-body">
              <span>
                {% for s in r.stars %}
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                      <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                  </svg>
                {% endfor %}
              </span>
              <h4><a href="{% url 'users:profile_details' r.owner.pk%}">{{r.owner.user.username}}</a><small><i>{{r.date}}</i></small></h4>
              <p>{{r.body}}</p>
              <span>
                <span id="like-{{r.pk}}">{{r.count_likes}}</span> 
                <button class="btn btn-info" onclick="like({{r.pk}})">
                  {% if user.profile in r.likes.all %}
                    <img id="like-button-{{r.pk}}" src="{% static 'icons/thumbs-fill.svg'%}">
                  {% else %}
                    <img id="like-button-{{r.pk}}" src="{% static 'icons/thumbs.svg'%}">
                  {% endif %}
                </button>
                {% if user.profile == r.owner %}
                  <button class="btn btn-warning" onclick="modificaToggler()">Modifica</button>
                  <button type="submit" class="btn btn-danger" data-toggle="modal" data-target="#areyousuremodal">Elimina</button>
                {% endif %}
              </span>
              {% for c in  r.comments.all %}
                <div class="media p-3">
                  <img src="{% static c.owner.profile_img_path %}" alt="{{c.owner.user.username}}" class="mr-3 mt-3 rounded-circle" style="width:45px;">
                  <div class="media-body">
                    <h4>{{c.owner.user.username}} <small><i>{{c.date}}</i></small></h4>
                    <p>{{c.body}}</p>
                  </div>
                </div>  
              {% endfor %}
            </div>
          </div><br>
          {% endfor %}
        {% endif %}
        <div class="modal" id="areyousuremodal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                <p>Sei sicuro?</p>
                <form class="form-inline" style="display: inline-block" method="POST" action="{% url 'users:delete_review'%}">
                  {% csrf_token %}
                  <input name="movie-pk" type="hidden" value="{{ object.pk }}"/>
                  <button type="submit" class="btn btn-danger">Elimina</button>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div> 
            </div>
        </div>
    </div>
    <script>
      function like(pk) {
        const xhttp = new XMLHttpRequest();
        xhttp.onload = function() {
          let likeSpan = document.getElementById("like-" + pk)
          let oldValue = parseInt(likeSpan.innerHTML)
          let likeButton = document.getElementById("like-button-" + pk)
          let response = this.responseText;
          let msg = response.split(",")[0]
          let likeNum = response.split(",")[1]
          if (msg == 'like') {
            likeButton.src = "{% static 'icons/thumbs-fill.svg'%}";
          }else{
            likeButton.src = "{% static 'icons/thumbs.svg'%}";
          }
          likeSpan.innerHTML = likeNum
        }
        xhttp.open("GET", "/users/like/?reviewpk=" + pk);
        xhttp.send();
      }

      function modificaToggler() {
          form = document.getElementById("review-form")
          document.getElementById("id_body").value = "{{user_review.body}}"
          document.getElementById("id_rating").value = "{{user_review.rating}}"
          if (form.hidden)
            form.hidden = false
          else
            form.hidden = true
      }

      function addToWatchlist() {
        const xhttp = new XMLHttpRequest();
        xhttp.onload = function() {
          wlButton = document.getElementById("wl-button")
          if (this.responseText == 'added') {
            wlButton.innerHTML = "Rimuovi dalla watchlist"
          }else{
            wlButton.innerHTML = "Aggiungi alla watchlist"
          }
        }
        xhttp.open("GET", "/users/addtowatchlist/?movie-pk={{object.pk}}");
        xhttp.send();
      }

    </script>
{% endblock content %}