{% extends 'base.html' %}
{% load static %}

{% block header %}
    <title>Amici</title>
{% endblock header %}

{% block content %}
    <div class="container">
        {% if object.count_notMyFriends %}
            <center><h1>Amicizie non reciproche</h1></center>
            <table class="table">
                <tbody>
                    {% for friend in object.notMyFriends.all %}
                        <tr id="row-{{friend.pk}}">
                            <td class="align-middle">
                                <img class="rounded-circle border" style="height:4em; width:4em; object-fit:cover" src="{{friend.profile_img.url}}"/>
                            </td>
                            <td class="align-middle">
                                <a href="{% url 'users:profile_details' friend.pk %}">
                                    <h3>{{friend.user.username}}</h3>
                                </a>
                            </td>
                            <td class="align-middle text-right">
                                <form method="POST" action="{% url 'users:addremovefriend' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="profile-pk" value="{{friend.pk}}"/>
                                    <input type="hidden" name="to-friends" value="true" />
                                    <button class="btn btn-primary" type="submit" >Aggiungi agli amici</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
        <center>
            <h1>
                Amici
                {% if object != user.profile %}
                    di "{{object.user.username}}"
                {% endif %}
            </h1>
            {% if object == user.profile %}
                <a class="btn btn-info" href="{% url 'users:search_profile' %}">Cerca nuovi amici</a>
            {% endif %}
            {% if object.count_friends == 0%}
                <div class="alert alert-info alert-dismissible fade show m-3">
                    Non hai ancora amici
                </div>
            {% endif %}
        </center>

        <table class="table m-3">
            <tbody>
                {% for friend in object.friends.all %}
                    <tr id="row-{{friend.pk}}">
                        <td class="align-middle">
                            <img class="rounded-circle border" style="height:4em; width:4m; object-fit:cover" src="{{friend.profile_img.url}}"/>
                        </td>
                        <td class="align-middle">
                            <a href="{% url 'users:profile_details' friend.pk %}">
                                <h3>{{friend.user.username}}</h3>
                            </a>
                        </td>
                        <td class="align-middle text-right">
                            {% if object == user.profile %}
                                <form method="POST" action="{% url 'users:addremovefriend' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="profile-pk" value="{{friend.pk}}"/>
                                    <input type="hidden" name="to-friends" value="true" />
                                    <button class="btn btn-danger" type="submit" >Rimuovi amicizia</button>
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}