{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <center><h1>Amici</h1></center>
        <table class="table">
            <tbody>
                {% for friend in object.friends.all %}
                    <tr id="row-{{friend.pk}}">
                        <td class="align-middle">
                            <img class="rounded-circle border" style="height:4em" src="{% static friend.profile_img_path %}"/>
                        </td>
                        <td class="align-middle">
                            <a href="{% url 'users:profile_details' friend.pk %}">
                                <h3>{{friend.user.username}}</h3>
                            </a>
                        </td>
                        <td class="align-middle text-right">
                            <form method="POST" action="{% url 'users:addremovefriend' %}">
                                {% csrf_token %}
                                <input type="hidden" name="profile-pk" value="{{friend.pk}}"/>
                                <input type="hidden" name="to-friends" value="true" />
                                <button class="btn btn-danger" type="submit" >Rimuovi amicizia</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}