{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <center>
            <h1>{{object.user.username}}</h1>
            <img src="{% static object.profile_img_path%}" class="rounded-circle border m-2" style="height: 10em"/>
            <br>
            <button class="btn btn-info m-2">Modifica profilo</button>
            <h2>Watchlist</h2>
            <table class="table">
                <tbody>
                    {% for m in object.watch_list.all %}
                        <tr>
                            <td>
                                <img src="{% static m.cover_path%}" style="height:6em"/>
                            </td>
                            <td class="align-middle"><strong>{{m.title}}</strong></td>
                            <td class="align-middle">
                                <form method="POST" class="form-inline" style="display:inline-block" action="{% url 'users:removefromwatchlist'%}">
                                    {% csrf_token %}
                                    <input type="hidden" name="movie-pk" value="{{m.pk}}"/>
                                    <input type="hidden" name="is-viewed" value="True"/>
                                    <button type="submit" class="btn btn-success">Visto</button>
                                </form>
                                <form method="POST"  class="form-inline" style="display:inline-block" action="{% url 'users:removefromwatchlist'%}">
                                    {% csrf_token %}
                                    <input type="hidden" name="movie-pk" value="{{m.pk}}"/>
                                    <input type="hidden" name="is-viewed" value="False"/>
                                    <button type="submit" class="btn btn-secondary">Rimuovi</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            
        </center>
        

    </div>
    
{% endblock content %}