{% extends 'base.html' %}
{% load static %}

{% block header %}
    <title>{{object.user.username}}</title>
{% endblock header %}

{% block content %}
    <div class="container">
        <center>
            {% if 'action' in request.GET %}
                <div class="alert alert-success alert-dismissible fade show">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {% if request.GET.action == "added" %}               
                            Amicizia aggiunta con successo!! 
                    {% else %}
                            Amicizia rimossa con successo!!
                    {% endif %}
                </div>
            {% endif %}
            {% if user.is_superuser and object != user.profile%}
                <form method="POST" action="{% url 'users:upgradedowngrade' %}">
                    {% csrf_token %}
                    <input type="hidden" name="user-pk" value="{{object.user.pk}}">
                    {% if object.is_editor%}
                        <button type="submit" class="btn btn-warning">Declassa a utente base</button>
                    {% else %}
                        <button type="submit" class="btn btn-success">Promuovi ad editore</button>
                    {% endif %}
                </form>
            {% endif %}
            <h1>{{object.user.username}}</h1>
            <img src="{{object.profile_img.url}}" class="rounded-circle border m-2" style="height: 10em; width: 10em; object-fit:cover"/>
            <br>
            <p class="text-muted">{{object.bio}}</p>
            {% if object.user.pk == user.pk %}
                <a class="btn btn-info m-2" href="{% url 'users:updateprofile'%}">Modifica profilo</a>
            {% else %}
                <form method="POST" action="{% url 'users:addremovefriend' %}">
                    {% csrf_token %}
                    <input type="hidden" name="profile-pk" value="{{object.pk}}"/>             
                    <button type="submit" class="btn btn-primary m-2">
                        {% if object in user.profile.friends.all %}
                            Rimuovi dagli amici
                        {% else %}
                            Aggiungi agli amici
                        {% endif %}
                    </button>
                </form>
            {% endif %}
            {% if not can_show %}
                <h2>Pagina privata</h2>
            {% else %}                
                <div class="card-deck">
                    <div class="card bg-primary">
                        <div class="card-header">
                            Film preferito
                        </div>
                        <div class="card-body text-center">
                          <p class="card-text">
                              {% if favourite_movie != None %}
                                <a style="color:white" href="{% url 'movies:moviedetails' favourite_movie.pk%}">
                                    {{favourite_movie.title}}
                                </a>
                              {% else %}
                                {{NC}}
                              {% endif %}
                          </p>
                        </div>
                    </div>
                    <div class="card bg-warning">
                        <div class="card-header">
                            Genere preferito
                        </div>
                        <div class="card-body text-center">
                          <p class="card-text">
                            {% if favourite_genre != None %}
                                <a style="color:white" href="{% url 'movies:searchmovie'%}?genre={{favourite_genre.pk}}">
                                    {{favourite_genre.name}}
                                </a>
                            {% else %}
                                {{NC}}
                            {% endif %}
                          </p>
                        </div>
                    </div>
                    <div class="card bg-danger">
                        <div class="card-header">
                            Tempo (ultimo mese)
                        </div>
                        <div class="card-body text-center">
                          <p class="card-text">
                            {% if watchtime != None %}
                                <a style="color:white">
                                    {{watchtime}}
                                </a>
                            {% else %}
                                {{NC}}
                            {% endif %}
                          </p>
                        </div>
                      </div>
                </div>

                <br>
                <h2>Watchlist</h2>
                {% if object.watch_list.all|length == 0%}
                    <div class="alert alert-info alert-dismissible fade show m-3">
                        Non hai film nella watchlist
                    </div>
                {% endif %}
                <table class="table">
                    <tbody>
                        {% for m in object.watch_list.all %}
                            <tr>
                                <td>
                                    <img src="{{m.cover.url}}" style="height:6em"/>
                                </td>
                                <td class="align-middle"><strong>{{m.title}}</strong></td>
                                <td class="align-middle">
                                    {% if user.profile == object %}
                                        <form method="POST" class="form-inline" style="display:inline-block" action="{% url 'users:removefromwatchlist'%}">
                                            {% csrf_token %}
                                            <input type="hidden" name="movie-pk" value="{{m.pk}}"/>
                                            <input type="hidden" name="is-viewed" value="True"/>
                                            <button type="submit" class="btn btn-success">Visto</button>
                                        </form>
                                        <form method="POST"  class="form-inline" style="display:inline-block" action="{% url 'users:removefromwatchlist'%}">
                                            {% csrf_token %}
                                            <input type="hidden" name="movie-pk" value="{{m.pk}}"/>
                                            <input type="hidden" name="is-viewed" value="False"/>
                                            <button type="submit" class="btn btn-secondary">Rimuovi</button>
                                        </form>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </center>
    </div>
{% endblock content %}